{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoBo</title>

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'story/style.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="{% static 'story/js/main.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header-->
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               <a class="navbar-brand" href="{% url 'story:index'%}">ShoBo</a>
        </div>

        <!--Items-->>
           <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block story_active %}{% endblock %}"><a href="{% url 'story:index' %}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Stories</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'story:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'story:note'%}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; View Notes
                    </a>
                </li>
                <li>
                    <a href="{% url 'story:create_note'%}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Write Notes
                    </a>
                </li>
                <li>
                    <a href="{% url 'story:create_story'%}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Story
                    </a>
                </li>
                <li>
                    <a href="{% url 'story:logout_user'%}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>