{% extends 'story/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Story Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'story:detail' story.id %}"></a>
                    <h1>{{ story.story_title }} <small>{{ story.genre }}</small></h1>
                    <h2>{{ story.artist }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}